@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  margin-bottom: 5px;
  margin-top: 0;
}

body {
  background: #b1892d; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #b1892d, #f1e7ad);
  background: -moz-linear-gradient(right, #b1892d, #f1e7ad);
  background: -o-linear-gradient(right, #b1892d, #f1e7ad);
  background: linear-gradient(to left, #b1892d, #f1e7ad);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 2px 2px 2px 2px;
  color: floralwhite;
  background-color: #835449;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 25px;
  width: 100%;
  overflow: hidden;
}
header .img-title {
  float: left;
}

header .home-title {
  margin: 15px 0 5px 0px;
  width: 300px;
}

#notes-logo {
  float: left;
  width: 60px;
  height: 60px;
}

header .header-icons {
  display: flex;
  float: right;
  margin: 17px 25px 0px 25px;
}

header .header-icons i {
  margin: 0 10px;
  cursor: pointer;
}

header #add-btn:hover {
  color: #79d67d;
}

header #shopping-cart-btn:hover, header #profile-btn:hover{
  color: #d1c076;
}

header #sign-out-btn:hover {
  color: #ff7a66;
}

main {
  margin: 0px 100px;
}

.flex-title {
  display: flex;
  margin-bottom: 10px;
}

.flex-title h2{
  margin-right: 10px;
}

.pagination {
  width: 100%;
  overflow: hidden;
  margin-bottom: -8.5px;
}
.pagination .search-results-box {
  float: left;
}

.pagination .page-count{
  display: flex;
  float: right;
  margin-right: 30px;
}

.pagination .pagination-info {
  display: flex;
}

.pagination .row-per-page {
  margin-right: 5px;
}

.pagination-page-right, .pagination-page-left {
  cursor: pointer;
  margin: 0 5px;
}

.pagination-page-disable {
  color: #866830;
  margin: 0 5px;
}

#music-info-table {
  width: 100%;
  border-spacing: 1px;
}

#music-info-table th, #music-info-table td {
  padding: 5px;
}

#music-info-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  background-color: #835449;
}

#music-info-table tr:nth-child(odd) { background-color: white; }
#music-info-table tr:nth-child(even) { background-color: #f2f2f2; }
#music-info-table tbody tr:hover {background-color: #ddd; cursor: pointer;}

thead tr:first-child th:first-child {
  border-radius: 4px 0 0 0;
}

thead tr:first-child th:last-child {
  border-radius: 0 4px 0 0;
}

tbody tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}

tbody tr:last-child td:nth-last-child(2) {
  border-radius: 0 0 4px 0;
}

tr#artist:last-child td:nth-last-child(2) {
  border-radius: 0 0 0 0;
}

tr#artist:last-child td:last-child {
  border-radius: 0 0 4px 0;
}


#music-info-table #purchase-column{
  text-align: center;
  background-color: #b48e34;
  width: 10px;
  
}

#purchase-icon {
  color: #ffffff;
}

#music-info-table #purchase-column:hover{
  background-color: #d1c076;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  border: 1px solid #888;
  width: 80%;
  height: 50%;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.modal-content .title {
  border-bottom: 1px solid #835449;
  border-bottom-width: small;
  margin-bottom: 20px;
}

.modal-content div:not(:first-child) {
  display: flex;
  border-bottom: 1px solid #835449;
  border-bottom-width: small;
  margin-bottom: 15px;
}

.modal-content #mediaType {
  display: flex;
}

.modal-content div p:first-child {
  font-weight: bold;
  margin-right: 5px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -57.5px;
  margin-right: -25px;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Login-page css */
.login-box {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 4px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #e2da66;
  width: 100%;
  border: 0;
  margin-top: 5px;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 4px;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #98d39b;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4caf50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}


